
.DS_Store
Phase2/.DS_Store
Phase2/.DS_Store
Phase2/.DS_Store
Phase2/.DS_Store
Phase2/.DS_Store
notebook/.ipynb_checkpoints/Untitled-checkpoint.ipynb
notebook/.ipynb_checkpoints/List_python-checkpoint.ipynb
notebook/.ipynb_checkpoints/Function-checkpoint.ipynb
